* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: palevioletred;
}

.navbar-logo {
  display: flex;
  align-items: center;
}
.fa-youtube,
.logo-title {
  color: white;
  font-size: 1rem;
}

.fa-youtube {
  margin: 0 5px;
}

.logo-title {
  margin-right: 5px;
}

.navbar-input {
  width: 100%;
  margin: 5px 0;
  border: none;
  font-size: 0.8rem;
}

.navbar-searchBtn {
  background: transparent;
  color: white;
}
